# Complie Folders
/Research/Paper/Octopus/src/.idea/

# PDF Results
/Research/Beacon/.pdf
/Course/.pdf

# File types
*.DS_Store
*.xlsx
*.html
*.pyc
*.npy
*.csv
taxi_rider_compare-checkpoint.ipynb
data_preparation-checkpoint.ipynb
route_test-checkpoint.ipynb
