# Complie Folders
/Research/Paper/Octopus/src/.idea/

# PDF Results
/Research/Beacon/.pdf
/Course/.pdf

# Self-use Figures
Research/Intuitive-Figures/*.jpeg
Research/Intuitive-Figures/*.png

# File types
*.DS_Store
*.xlsx
*.pyc
*.npy
*.csv
taxi_rider_compare-checkpoint.ipynb
data_preparation-checkpoint.ipynb
route_test-checkpoint.ipynb
rider_trace-checkpoint.ipynb
three_order_trace-checkpoint.ipynb
*.nssyncsc
rl_sample-checkpoint.ipynb
MLfolds/src/.idea
Research/Writing/.ipynb_checkpoints
*.pptx
