<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<!--  <li>
    <a href="https://scholar.google.com/citations?user=umiRGkUAAAAJ&hl=en" itemprop="sameAs">
      <i class="ai ai-google-scholar-square ai-1x"></i> Google Scholar
    </a>
  </li> -->

<!-- 
   <li>
    <a href="https://www.researchgate.net/profile/Yi-Ding-99" itemprop="sameAs">
      <i class="ai ai-researchgate-square ai-fw"></i> Researchgate
    </a>
  </li> -->