---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 16px; // change to whatever

 @include breakpoint($small) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change to whatever
  }
}


/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.section-left, .section-right {
    width: 45%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: darkblue;
}
