---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 16px; // change to whatever

 @include breakpoint($small) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change to whatever
  }
}

.publications-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; /* Space between sections */
}

.publication-section {
  padding: 15px;
  border: 1px solid #ddd; /* Optional styling */
  background: #f9f9f9; /* Optional styling */
}

@media (min-width: 768px) {
  .publications-grid {
    grid-template-columns: 1fr 1fr;
  }
}